{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid"><div class="row">
{% for exchange in exchanges|filter(exchange => exchange.id != 10) %}
    {% set cotizaciones = exchange.obtenerMejorPrecioParaTodasDivisas %}
    {% if cotizaciones %}
        <div class="col col-md-3 col-xs-12">
        <h2>{{ exchange }}</h2>

        <table class="table">
        {% for cotizacion in cotizaciones %}
            <tr>
                <td><a href="{{ path('dash_libro', { 'exchange': exchange.id, 'par': cotizacion.par }) }}">{{ cotizacion.par }}</a></td>
                <td class="text-right">
                    {% if cotizacion.precioVenta > 10 %}
                        {{ cotizacion.precioVenta|number_format(2) }}
                    {% else %}
                        {{ cotizacion.precioVenta|number_format(8) }}
                    {% endif %}

                    {% if analizador.parEsEnArs(cotizacion.par) %}
                        {% set di = analizador.obtenerDolarImplicito(cotizacion, 2) %}
                        {% if di > 0 %}
                            <br />
                            <span class="small text-muted">DI {{ (di)|number_format(2) }}</span>
                        {% endif %}
                    {% elseif analizador.parEsEnUsd(cotizacion.par) %}
                        {% set dif = analizador.obtenerDiferenciaConReferencia(cotizacion, 2) %}
                        {% if dif != 0 %}
                            <br />
                            <span class="small text-muted">Dif {{ (dif * 100)|number_format(2) }}%</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if cotizacion.precioCompra > 10 %}
                        {{ cotizacion.precioCompra|number_format(2) }}
                    {% else %}
                        {{ cotizacion.precioCompra|number_format(8) }}
                    {% endif %}

                    {% if analizador.parEsEnArs(cotizacion.par) %}
                        {% set di = analizador.obtenerDolarImplicito(cotizacion, 1) %}
                        {% if di > 0 %}
                            <br />
                            <span class="small text-muted">DI {{ (di)|number_format(2) }}</span>
                        {% endif %}
                    {% elseif analizador.parEsEnUsd(cotizacion.par) %}
                        {% set dif = analizador.obtenerDiferenciaConReferencia(cotizacion, 1) %}
                        {% if dif != 0 %}
                            <br />
                            <span class="small text-muted">Dif {{ (dif * 100)|number_format(2) }}%</span>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endif %}
{% endfor %}
</div></div>
{% endblock body %}

{% block javascripts %}
<script>
    function cotiRecargar() {
        url = '{{ path('dash_coti') }}';
        destino = '#page-wrapper';
        jQuery.get(url, function (data, status, xhr) {
            try {
                $(destino).html(data);
            } catch (err) {
                $(destinoFinal).append('<div class="alert alert-dismissable alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert">×</button>Error al cargar fragmento AJAX: ' + err + '</div>');
            }
        }).fail(function (jqXHR) {
            // Muestro un error
            $(destino).html(jqXHR.responseText);
        });
        setTimeout(cotiRecargar, 10000);
    }

    setTimeout(cotiRecargar, 10000);
</script>
{% endblock javascripts %}