{% extends 'user/editbase.html.twig' %}

{% block title %}Usuarios: Crear{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="float-right">
        <a class="btn btn-default" href="{{ path('user_index') }}">Volver</a>
        <button class="btn btn-primary">Guardar</button>
    </div>
    {{ form_end(form) }}
{% endblock %}